<footer class="footer">
  <div class="center-align"><h8>Comments?</h8><p>
  <h9>This is an embedded Google Doc. It ain't pretty, but it gets the job done!
  <p><p>If you would like to help out with comments
  email me at OmneBonumEst@gmail.com <br>and I will give you the link and priviledges
  to comment.</h9></div>
  <!--<a class="footer-logo" href="/">
    <img src="/images/logo.png" alt="Learn Enough"/>
    </a>
    <nav>
      <!--<ul class="footer-nav nav-links">
        {% include nav-links.html %}
      </ul>
      <!--<ul class="social-list">
        {% include social.html %}
      </ul>
      </nav>
  <h3>Democracy <span>Straight-Up!</span></h3>-->
    </footer>
